<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GTT app | linee</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>Ricerca dei percorsi mezzi GTT</h1>
    <form th:action="@{/goto/linee}" method="get">
      <div class="container">
        <select
          id="firstStop"
          class="form-select"
          aria-label="Default select example"
        >
          <option selected disabled>Partenza</option>
          <option th:each="fermata : ${fermate}" th:value="${fermata.idFermata}" th:text="${fermata.nomeFermata}"></option>
        </select>
        <select
          id="secondStop"
          class="form-select"
          aria-label="Default select example"
        >
          <option selected disabled>Arrivo</option>
          <option th:each="fermata : ${fermate}" th:value="${fermata.idFermata}" th:text="${fermata.nomeFermata}"></option>
        </select>
        <button type="submit" class="btn btn-outline-success">Invio</button>
      </div>
    </form>
    <!-- end of body -->
    <script src="/js/script.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
