<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GTT | app</title>
</head>
<body>
    <h1>Ricerca dei percorsi mezzi GTT</h1>
    <form action="" method="get">
        <select id="firstStop" class="form-select" aria-label="Default select example">
            <option selected disabled>Prima Fermata</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <select id="secondStop" class="form-select" aria-label="Default select example">
            <option selected disabled>Seconda Fermata</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        <button>invio</button>
    </form>
    
</body>
</html>